JWT_SECRET=
JWT_EXPIRATION_TIME=1h
SECRET_KEY=
LOGGLY_TOKEN=
LOGGLY_SUBDOMAIN=
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_HOST=localhost
DATABASE_NAME=app
DATABASE_PASSWORD=
LOGS_DATABASE_PORT=5433
LOGS_DATABASE_USER=postgres
LOGS_DATABASE_HOST=localhost
LOGS_DATABASE_NAME=logs
LOGS_DATABASE_PASSWORD=
ERRSOLE_DASHBOARD_PORT=8000
SENDER_NAME=
SMTP_HOST=
SMTP_PORT=587
SMTP_EMAIL=
SMTP_PASS=
KAFKA_BROKER=localhost:9092
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=
DOCKER_USERNAME=
DOCKER_PASSWORD=
