TEST_NET=local
DATABASE_USER=postgres
DATABASE_PORT=5432
DATABASE_HOST=nx-template-database
DATABASE_NAME=app
DATABASE_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION_TIME=1h
SECRET_KEY=
LOG_LEVEL=info
LOGGLY_TOKEN=
LOGGLY_SUBDOMAIN=
LOGS_DATABASE_PORT=5432
LOGS_DATABASE_USER=postgres
LOGS_DATABASE_HOST=nx-template-logs-database
LOGS_DATABASE_NAME=logs
LOGS_DATABASE_PASSWORD=
ERRSOLE_DASHBOARD_PORT=8000
SENDER_NAME=
SMTP_HOST=
SMTP_PORT=587
SMTP_PASS=
SMTP_EMAIL=
KAFKA_BROKER=nx-template-kafka:19092
REDIS_PORT=6379
REDIS_HOST=nx-template-redis
REDIS_PASSWORD=
