DATABASE_USER=postgres
DATABASE_HOST=localhost
DATABASE_NAME=app
DATABASE_PASSWORD=
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=
LOGS_DATABASE_PORT=5433
LOGS_DATABASE_USER=postgres
LOGS_DATABASE_HOST=localhost
LOGS_DATABASE_NAME=logs
LOGS_DATABASE_PASSWORD=
ERRSOLE_DASHBOARD_PORT=8000
REDIS_PASSWORD=
